<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application>
        <activity
            android:name=".ui.activities.CarelevoActivity"
            android:configChanges="orientation|layoutDirection|screenLayout|density|screenSize|smallestScreenSize"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.CarelevoAlarmActivity"
            android:configChanges="orientation|layoutDirection|screenLayout|density|screenSize|smallestScreenSize"
            android:theme="@style/AppTheme" />
    </application>

</manifest>